<div id="convo_controls" class="item2 span-10">
	
  <div id="convos_links" class="padding05">
    

	  
	  

	</div>
	
	
	<div id="convos_user" class="padding5">
	  <em><%= t("ui.started_by") %></em>
		<%= link_to h(@conversation.user.login), user_path(@conversation.user) %>
	  <%= link_to image_tag(@conversation.user.gravatar_url, :border => 0, :width => 20, :height => 20,
	    :class => "avatar", :alt => @conversation.user.login, :style => 'margin-left:4px;margin-bottom:-7px;'),
	 	  user_path(@conversation.user),
		  :class => 'tip', 
		  :title => user_popup(@conversation.user)
		%>
	</div>	
</div>
