<p class="messagemeta"><span class="username"><%=h message.user.login %></span><span class="date"><%=h message.created_at.to_s(:pretty_long) %><span></p>
<p class="message"><%= mark_up message.message %></p>
