<span id="follow_conversation"> 
	<%if current_user%>
		--> 	
		<% if @conversation.followed?(current_user) %>
			<%= link_to_remote t("ui.unfollow"), 
			:url => {:controller => "conversations", :action => 'unfollow', :id => @conversation.id} %>
		<%else%>
			<%= link_to_remote t("ui.follow"), 
			:url => {:controller => "conversations", :action => 'follow', :id => @conversation.id} %>
		<%end%>
	<%end%>
</span>