<% if logged_in? %>
  <span id="follow_conversation_<%=follow_from_list.id-%>">
		<% if follow_from_list.followed_by?(current_user) %>
			<%= "&#187; " + link_to( t("ui.unfollow"), unfollow_from_list_conversation_path(follow_from_list), :method => :post ) %>
		<% else %>
		  <% if !follow_from_list.private? || follow_from_list.user_id == current_user.id %>
			  <%= "&#187; " + link_to( t("ui.follow"), follow_from_list_conversation_path(follow_from_list), :method => :post ) %>
			<% end %>
		<% end %>
  </span>
<% end %>
