<% if logged_in? %>
  <span id="follow_conversation_<%=follow.id-%>"> 
		<% if follow.followed_by?(current_user) %>
			<%= link_to t("ui.unfollow"), unfollow_conversation_path(follow), :method => :post %>
		<% else %>
			<%= link_to t("ui.follow"), follow_conversation_path(follow), :method => :post %>
		<% end %>
  </span>
<% end %>
