<span id="join_conversation"> --> 	
	<% if @conversation.followed?(current_user) %>
		<%= link_to_remote "unfollow", 
		:url => {:controller => "conversations", :action => 'unfollow', :id => @conversation.id} %>
	<%else%>
		<%= link_to_remote "folow", 
		:url => {:controller => "conversations", :action => 'follow', :id => @conversation.id} %>
	<%end%>
</span>