<div id="last_convo_tags" class="item2 page">
	<h6><%=t("ui.recent_tags")-%>:</h6>
	<%= render :partial => 'conversations/tag', :collection => @conversation.taggings[0..20] %>
	<div class="clear"></div>
	<div>
	  <% if @conversation.taggings.length > 1 %>
	    <%= link_to "all tags", "#tags" %> |
	  <% end %>
	  <%= link_to t("ui.add_tag"), "#tags" %>
	</div>
</div>