<div id="recent_followers" class="item2 page">
	<h6><%= t("ui.recent_followers") %>:</h6>
	<%= render :partial => 'conversations/user', :collection => @conversation.recent_followers %>
	<% if @conversation.users.length > 10 %>
	  <div><a href="#followers" class="action"><%=t("ui.view_all")-%></a></div>
	<% end %>
</div>