<span class="tag">
  <%= tag.tag.to_s -%>
  <% if logged_in? && tag.tagger_id == current_user.id %>
		<span class="tag_controls"><sup><%= link_to_remote 'x', :url => {:controller => 'conversations', :action => 'remove_tag', :id => @conversation.id, :tag => tag.tag.to_s}, :confirm => t("ui.confirm_remove_tag") %></sup></span>
	<% end %>
</span>
<span/>