<div id="users_in_conversation" class="item">
	<b>Recent Followers:</b><br/>
	<%= render :partial => 'conversations/user', :collection => @conversation.recent_followers %>
	<% if @conversation.users.length > 10 %>
    <b>Followers:</b><br/>
    <% @conversation.users.each do |u| %>
      <span class="label"><%= link_to h(u.login), conversation_messages_path(u.personal_conversation) %></span>
    <% end %>
	<% end %>
</div>