<div id="users_in_conversation" class="item2 page">
  <h6><%= t("ui.followers") %>:</h6>
  <% @conversation.users.each do |u| %>
    <span class="label">
	<%if u.personal_conversation%>
		<%= link_to h(u.login), conversation_messages_path(u.personal_conversation),:class => 'tip', 
		:title => "personal convo for " + u.personal_conversation.name %>
	<%end%>
	</span>	
  <% end %>
</div>
