<div class="message system">
	<div class="messagemeta">
	  <div class="padding">	
		  <div class="avatar"><%= image_tag("/images/system_avatar.jpg", :border => 0, :wigth => 40, :height => 40, :class => "avatar") %></div>
		  <div class="username_date">
		    <span class="username">system message</span>
		    <br/>
		    <span class="date"></span>
		  </div>
		  <div class="clear"></div>
	  </div>
	</div>
	<div class="messagetext">
	  <div class="padding">
	    <span class="mute">Only you can see this message</span><br/>
	    <b>Followers:</b><br/>
	    <% users.each do |u| %>
		    <span class="label"><%= link_to h(u.login), user_path(u) %></span>
		  <% end %>
		</div>
	</div>
	<div class="clear"></div>
</div>