<%# DELETE ME %>
<div id="users_in_conversation" class="item2 page">
  <h6><%= t("ui.followers") %>:</h6>
  <% @conversation.users.each do |u| %>
    <span class="user_label" id="follower_<%= u.id %>">
	      <% if current_user.owns?(@conversation) && @conversation.private? %>
	        <em class="tag_controls"><%= link_to_remote "X", :url => conversation_subscriber_path(@conversation, u), :method => :delete %></em>
	      <% end %>
	    	<%= link_to h(u.login), user_path(u) %>
	  </span>
  <% end %>
</div>
