<span class="user_in_conversation" id="<%= dom_id user%>">
	<%= link_to h(user.login), conversation_messages_path(user.personal_conversation),
	:class => 'tip', 
	:title => "personal convo for " + user.personal_conversation.name%>	
</span>
