<h1>conversations</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for conversation in @conversations %>
  <tr>
    <td><%= link_to h(conversation.name), conversation_messages_path(conversation) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New conversation', new_conversation_path %>
