<%= render :partial => 'messages/messages_controls' %>

<div id='messages'>
	<div id="first_message"></div>
  <div class="center" id="load-indicator"><div>LOADING MESSAGES</div><%= image_tag("/images/big_spinner.gif") %></div>
</div>