<% for(var i=0; i<message_groups.length; i++) { %>
  <p class="groupdate"><span><%= message_groups[i].date %></span></p>
  
  <% for(var m=0; m<message_groups[i].messages.length; m++) { %>
    <%= this.partial({url: '/templates/message.ejs'},message_groups[i].messages[m]) %>    
    <% if(message_groups[i].messages[m].message.id == last_message_id) { %> 
    	<div class="last-read">new messages</div>
    <% } %>
    
  <% } %>

<% } %>