html,body{background:#ccc;
}
#header_container {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:100;
}
#header {margin:0 auto;}

#main_content {
  margin-top:44px;
  height:100%;  
}
#messagesform {
  position:fixed;
  bottom:0px;
  width:550px;
}
#col1 {height:100%;}
#sidebars {height:100%;}

#attachment_form {
  background: url(/images/unitip/TipMid.png) repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding:0px;}
#attachment_form_padding {padding:10px 10px 0 10px;}
#attachment_form {
  position:fixed;
  bottom:10px;
  width:550px;
  z-index:101;
}

#attachment_form input{margin:0;padding:0;}
#attachment_form form{margin:0;padding:0;}
#footer {
}
#messagesform_arrow {
  width:520px;
  position:fixed;
  bottom:122px;
  background:url(/images/uparrow.png) bottom center no-repeat;
  z-index:99;
}
#messagesform {
  padding-top:20px;
}
#messages {
  background:#fff;
  padding-bottom:96px;
  border-right:2px solid #a7a7a7;
}
#messages_controls {
  background:#eee;
  padding:5px;
  border-right:2px solid #a7a7a7;
}
.mute {color:#fff;}
#sidebars_container {
  position:fixed;
  top:44px;

}
#col3_container {

}
#footer_container {
  position:fixed;
  bottom:0;
  background:#426467;
  z-index:100;
  width:100%;
  height:20px;
}
#convo_controls h4{
  margin:0px;
}
#convo_controls {
  background:#fff;
  border-right:1px solid #a7a7a7;
  border-bottom:1px solid #a7a7a7;
}
#convo_controls h4 a:link, #convo_controls h4 a:visited {
  background:#989898;
  color:#fff;
  padding:0 5px;
  text-decoration:none;
}

#dashboard, #tags, #followers {
  background:#eee;
  padding-top:5px;
}
.user_label {
  padding-right:10px;
}
#flash_messages .notice {margin:0;}
#flash_messages .error {margin:0;}
#load-indicator {
  font-size:25px;
  color:#999;
  margin-top:20px;
}