html,body{background:#ccc;
}
#top_container {
  position:fixed;
  top:0px;
  left:0;
  width:100%;
  z-index:100;
}
#header_container {
  position:fixed;
  top:0px;
  left:0;
  width:100%;
  z-index:102;
  height:34px;
}
#header {margin:0 auto;  height:34px;}

#main_content {
  margin-top:78px;
  height:100%;
}
#messagesform {
  position:fixed;
  bottom:0px;
  width:550px;
}
#col1 {height:100%;}
#sidebars {height:100%;}

#attachment_form {
  margin-bottom: 0;
  background: #151110;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-top:5px;
}
#attachment_form_padding { padding: 0 10px; }
#attachment_form {
  position:fixed;
  bottom:0px;
  width:550px;
  z-index:101;
}

#attachment_form input{margin:0;padding:0;}
#attachment_form form{margin:0;padding:0;}

#messagesform {
  margin-bottom: 0;
  background: #666;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding-top:5px;
}
#messagesform_padding { padding: 0 10px; }
#messageinputdiv { margin-bottom: 20px; }
#messageinputdiv h4 {
  padding: 0 0 10px 0;
  margin: 0;
  color:#ccc;
  font-weight:normal;
}
#messageinputdiv h4 a:link, #messageinputdiv h4 a:visited, #messageinputdiv h4 a:hover, #messageinputdiv h4 a:active {
  color:#fff;
}
#messageinputdiv { padding-bottom:0px; }
#messageinputdiv form { margin-bottom:0px; }
#msgtextarea { margin:0px;padding:0; display:block;}
#messageinput {padding:0;}
.msgformcontrols { margin-top:-5px; text-align:right;}
#messages {
  background:#fff;
  padding-bottom:54px;
}
#messages_controls {
  background:#eee;
  padding:0 5px;
}
.mute {color:#fff;}
#sidebars_container {
  position:fixed;
  top:32px;

}
#col3_container {

}
#footer_container {
  position:fixed;
  bottom:0;
  background:#151110;
  z-index:102;
  width:100%;
  height:20px;
}

#convo_controls {
  background:#fff;
}

.user_label {
  padding-right:10px;
}
#flash_messages .notice {margin:0;}
#flash_messages .error {margin:0;}
#load-indicator {
  font-size:25px;
  color:#999;
  margin-top:0px;
  padding:40px 0 0 0;
}
.img_attachment img {
  background:url('/images/icons/spinner3.gif') center no-repeat;
}
#convo_header_container {
  top:32px;
  position: fixed;
  padding-top:5px;
}
