.clear { clear:both; }
.padding { padding:10px; }
.item { margin-bottom:10px;}
#header { }
#menu { border-bottom:4px solid #333; }
#menu ul {
  float:left;
  padding:0;
  margin:0;
  list-style: none;
}
#menu li {
  float:left;
  background:#ccc;
  margin-right:4px;
  padding:2px 4px;
}
#menu a:link, #menu a:visited { color:#333; }
#menu a:hover, #menu a:active { background:#ccc; }
#menu li.active { background:#333; }
#menu li.active a { color:#fff; }
#menu li.active a:hover, #menu li.active a:active { background:#333; }

#main_content {margin-top:20px;}
.message {
  padding: 0 0 15px 0; border-top: 1px solid #eee;
}
.messagemeta {
  width:30%;
  float:left;
  background:#eee;
}
.messagetext {
  width:70%;
  float:left;
}
#footer {
  background:#eee;
  border-top:1px solid #ccc;
}