html, body {margin:0;background:#d0e4eb;}
.container .search_link {
  display: block;
  margin-bottom:5px;
  background:#fff url(/images/icons/magnifier.png) 2px 5px no-repeat;
  padding-left:20px;
  }
.conversation_for_user {
  overflow:hidden;
  border-bottom:1px dashed #eee;
}
.conversation h5 {margin-top:0;}
.container .quiet {color:#999;}
#flash_messages .notice {background:#68bd53;padding:4px 10px;border:none;margin:0 0 10px 0;color:#fff;font-weight:strong;}
#flash_messages .error {background:#cc3333;padding:4px 10px;border:none;margin:0 0 10px 0;color:#fff;font-weight:strong;}
div.auto_complete {
  width: 340px;
  background: #fff;
  z-index:200;
}
div.auto_complete ul {
  border:1px solid #82c0cd;
  margin:0;
  padding:0px;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ff3;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}
.container a:link, .container a:visited {
  color:#3366cc;
}
.container a:hover, .container a:active {
  color:#cc3333;
}
p+p {text-indent:0px;}
p {margin-bottom:10px;}
.highlight {background:#9acb63;}
.clear { clear:both; }
.mute { color:#999;}
.padding { padding:10px; }
.item2 {margin-bottom:10px;}
.content {
  background:#fff;
}
#main_headline {
  font-size:150%;
  line-height:1.9em;
  text-align:center;
}
#signup_headline {
  text-align:center;
  color:#68bd53;
}
#sidebars_container #main_headline {
  font-size:100%;
  line-height:1.9em;
  padding-top:0px;
  margin-top:-20px;
}
#sidebars_container #signup_headline {
  color:#68bd53;
  font-size:70%;
  text-align:left;
}
#main_description {
  margin-top:40px;
  font-size:130%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background:#fff;
  padding:20px;
}
#main_description h5 {margin-top:0;}
#col1 {
  background:#fff;
}
#col1_padding {

}
#col2_padding {
  padding:5px;
}
#col3_padding {
  padding:5px;
}
/* header */
#header_container {
  background:#151110;
  border-bottom:1px solid #fff;
}
#header {
margin:0 auto;background:#151110;
}
#header h1 {
  margin:0;  
}

/* menu */
#menu ul{
  margin:5px 0 0 0;
}
#menu ul {float:right;}
#menu ul li {float:right;}
#menu ul li a:link, #menu ul li a:visited {
  display:block;
  padding:2px 6px;
  color:#fff;
}
#menu ul li a.search_link, #menu ul li a.search_link {
  display: block;
  background:#151515 url(/images/icons/magnifier.png) 2px 5px no-repeat;
  padding-left:20px;
}


/* balloon */
.balloon {
  padding:10px;
  background:#b3e4ef;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.balloon h1 {margin:0;}
.balloon .avatar {float:left;}
.balloon .username {padding-left:50px;display:block;font-size:130%;}
.balloon .userinfo {padding-left:50px;display:block;color:#3366cc;}
.page {
  padding:5px;
  background:#fff;
  border-right:1px solid #82c0cd;
  border-bottom:1px solid #82c0cd;
}
#main_content {margin-top:10px;}
.balloon2 h1 {margin:0;}
/* messages */
#messages {background:#fff;}
.message {padding:15px 20px 0 20px;position:relative;border-bottom:1px dashed #ccc;overflow:hidden;}
.message .messagelinks {position:absolute;top:0;right:20px;}
.message .avatar {float:left;}
.messagetext {padding-left:60px;}
.message .date {display:block;}
.message .date a:link, .message .date a:visited {color:#bbb;}

/* messages form */
#messagesform {
  margin-bottom:0;
  background:#42aec2;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#messagesform_padding {padding:0 10px;}
#messageinputdiv {
  margin-bottom:20px;
}
#messageinputdiv h4 {padding:0 0 10px 0;margin:0;}
#attachment_form {background: url(/images/unitip/TipMid.png) repeat;padding:10px;}
#attachment_form input{margin:0;padding:0;}
#attachment_form form{margin:0;padding:0;}
#last_message_avise {background:#9acb63; padding:0 20px;text-align:center;margin-top:-19px;}
.messageinput { width:520px; height:4em; }
textarea, input[type='text'], input[type='password'], select { border: 1px solid #333; background: #fff; }
textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover { border-color: #333; }
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #333; outline: 2px solid #333; }
#footer_container {
  position:fixed;
  bottom:0;
  background:#85c5d2;
  z-index:100;
  width:100%;
  padding:0;
  border-top:1px solid #42aec2;
}
.page h6 {
  margin:0;
  background:#EEEEEE;
}
.status_yellow {display:block;background:#ffff33;padding:0px 4px;margin-top:2px;}
.status_green {display:block;background:#bcd784;padding:0px 4px;margin-top:2px;}
.status_red {display:block;background:#cc3333;padding:0px 4px;color:#fff;margin-top:2px;}
.list {list-style: none;}
.list li {
  border-bottom:1px dashed #ccc;
  padding:10px 0;
}

.pagination {
  padding: 10px;
}
.container ul {margin:0;}
.container ul li {margin:0;}
.msgcount {background:#cc3333;padding:2px 4px;font-weight:bold;color:#fff;margin-right:5px;}
.mutedmsgcount {background:#999 url(/images/b9.gif) bottom center no-repeat;padding:2px 4px 6px 4px;font-weight:bold;color:#fff;margin-left:10px;}
#working {
  position:absolute;
  top:-18px;
  left:255px;
}
#users_list {float:left;width:100%;}
#users_list li {
  float:left;
  width:49%;
  margin-bottom:10px;
  margin-left:2px;
  padding:10px 0;
  border:1px solid #eee;
}
#users_list li .avatar {float:left;padding-left:5px;}
#users_list li .username {padding-left:60px;display:block;}
#users_list li .user_real_name {padding-left:60px;display:block;color:#999;}