html, body {
  margin: 0;
  background: #cccccc;
}
h1 { margin: 0px; }
.container .highlight { background: #ffff88; }
.container .quiet { color: #999999; }
.container .search_link {
  display: block;
  margin-bottom: 0px;
}
.container a:link { color: #3366cc; }
.container a:visited { color: #3366cc; }
.container a:hover { color: #cc3333; }
.container a:active { color: #cc3333; }
.container p { margin-bottom: 10px; }
.container ul { margin: 0; }
.container ul li { margin: 0; }
.big { font-size: 120%; }
.out_of_screen {
  position: fixed;
  left: 500000px;
}
.padding5 { padding: 5px; }
.conversation_for_user {
  overflow: hidden;
  border-bottom: 1px dashed #eeeeee;
}
.conversation h5 { margin-top: 0; }
.personal h5 { padding-left: 50px; }
.personal .avatar { float: left; }
.personal .description {
  padding-left: 50px;
  margin-bottom: 5px;
}
.personal .info { padding-left: 50px; }
#flash_messages .notice {
  background: #68bd53;
  padding: 4px 10px;
  border: none;
  margin: 0 0 10px 0;
  color: #ffffff;
  font-weight: strong;
}
#flash_messages .error {
  background: #cc3333;
  padding: 4px 10px;
  border: none;
  margin: 0 0 10px 0;
  color: #ffffff;
  font-weight: strong;
}
#connection_stat_data {
  font-weight: bold;
  font-size: 14px;
}
div.auto_complete {
  width: 340px;
  background: #ffffff;
  z-index: 200;
}
div.auto_complete ul {
  border: 1px solid #82c0cd;
  margin: 0;
  padding: 0px;
  width: 100%;
  list-style-type: none;
}
div.auto_complete ul li {
  margin: 0;
  padding: 3px;
}
div.auto_complete ul li.selected { background-color: #ffff33; }
div.auto_complete ul strong.highlight {
  color: #880000;
  margin: 0;
  padding: 0;
}
p + p { text-indent: 0px; }
p { margin-bottom: 10px; }
.highlight { background: #9acb63; }
.clear { clear: both; }
.mute { color: #999999; }
.padding { padding: 10px; }
.item2 { margin-bottom: 5px; }
.content { background: #ffffff; }
#main_headline {
  font-size: 150%;
  line-height: 1.9em;
}
#main_headline h1 {
  font-size: 150%;
  margin: 0;
}
#signup_headline { color: #666666; }
#sidebars_container #main_headline {
  font-size: 100%;
  line-height: 1.9em;
  padding-top: 0px;
  margin-top: -20px;
}
#sidebars_container #signup_headline {
  color: #68bd53;
  font-size: 70%;
  text-align: left;
}
#main_description { font-size: 130%; }
#main_description h5 { margin-top: 0; }
#test_convo_description {
  font-size: 170%;
  line-height: 0.5em;
}
.center { text-align: center; }
.wbox {
  background: #ffffff;
  margin-bottom: 10px;
}
#default #recently_visited {
  margin-bottom: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: #ffffff;
}
#col1 { margin-top: 5px; }
#col2_padding, #col3_padding { padding: 5px; }
#header_container { background: #151110; }
#header {
  margin: 0 auto;
  background: #151110;
}
#header h1 { margin: 0; }
h4 {
  background: #666666;
  color: #ffffff;
}
#top-nav { text-align: right; }
#top_container { background: #333333; }
#menu ul {
  margin: 5px 0 0 0;
  float: right;
}
#menu ul li {
  float: right;
  border-left: 1px solid #333333;
}
#menu ul li a:link {
  display: block;
  padding: 2px 6px;
  color: #ffffff;
}
#menu ul li a:visited {
  display: block;
  padding: 2px 6px;
  color: #ffffff;
}
#menu ul li a.bookmarks_link {
  background: url("/images/icons/star.png") left no-repeat;
  padding-left: 18px;
}
#menu ul li.search form { padding: 0px 5px; }
#menu ul li.search form input { float: left; }
#menu ul #new_convo_button {
  display: block;
  background: #cc3333 url("/images/icons/speech.jpg") 5px no-repeat;
  padding: 0px 10px 0px 18px;
  font-weight: bold;
  margin-left: 5px;
}
#dashboard {
  margin: 5px 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  background: #ffffff;
}
#dashboard h5 {
  padding: 0 10px;
  background: #eeeeee;
  text-align: center;
  margin: 5px;
}
#dashboard p { padding: 5px; }
#session-menu {
  background: #666666;
  padding: 0 0 0 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
#session-menu ul {
  margin: 0;
  float: right;
}
#session-menu ul li {
  float: right;
  margin-left: 5px;
}
#session-menu ul li a:link {
  display: block;
  padding: 2px 6px;
  color: #ffffff;
}
#session-menu ul li a:visited {
  display: block;
  padding: 2px 6px;
  color: #ffffff;
}
#session-menu ul li a.bookmarks_link {
  background: url("/images/icons/star.png") left no-repeat;
  padding-left: 18px;
}
#session-menu ul #new_convo_button {
  display: block;
  background: #cc3333 url("/images/icons/speech.jpg") 5px no-repeat;
  padding: 0px 10px 0px 18px;
  font-weight: bold;
  margin-left: 5px;
}
#topmenu ul {
  margin: 0;
  float: right;
}
#topmenu ul li { float: right; }
#topmenu ul li a:link {
  display: block;
  padding: 2px 6px;
  color: #cccccc;
  border-left: 1px solid #111111;
}
#topmenu ul li a:visited {
  display: block;
  padding: 2px 6px;
  color: #cccccc;
  border-left: 1px solid #111111;
}
#topmenu ul li a.bookmarks_link {
  background: url("/images/icons/mini-star.png") 4px 6px no-repeat;
  padding-left: 22px;
}
.balloon {
  background: #eeeeee;
  padding: 5px;
  margin-bottom: 10px;
}
.balloon div form { margin: 10px 0px 0px 0px; }
.balloon h1 { margin: 0; }
.balloon .avatar { float: left; }
.balloon .username {
  padding-left: 70px;
  display: block;
  font-size: 130%;
}
.balloon .userinfo {
  padding-left: 70px;
  display: block;
  color: #3366cc;
}
.page {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  padding: 5px;
  background: #fcfcfc;
}
.page h6 {
  margin: 0 0 4px 0;
  background: #eeeeee;
}
.page h6.hl {
  background: #666666;
  color: #ffffff;
}
.balloon2 h1 { margin: 0; }
#messages { background: #ffffff; }
.message {
  padding: 8px 8px 8px 8px;
  position: relative;
  border-bottom: 1px dashed #cccccc;
  overflow: hidden;
}
.message .messagelinks {
  position: absolute;
  top: 0px;
  right: 10px;
}
.message .messagelinks a:link { color: #aa9c84; }
.message .messagelinks a:visited { color: #aa9c84; }
.message .messagelinks a:hover { color: #cc3333; }
.message .messagelinks a:active { color: #cc3333; }
.message .username a:link { color: #aa9c84; }
.message .username a:visited { color: #aa9c84; }
.message .username a:hover { color: #cc3333; }
.message .username a:active { color: #cc3333; }
.message .meta {
  margin-top: -10px;
  position: relative;
}
.message .avatar { float: left; }
.message .date a:link { color: #aa9c84; }
.message .date a:visited { color: #aa9c84; }
.message .date a:hover { color: #cc3333; }
.message .date a:active { color: #cc3333; }
.messagetext { padding-left: 40px; }
.system { padding: 8px 8px 0 8px; }
#last_message_avise {
  background: #9acb63;
  padding: 0 20px;
  text-align: center;
  margin-top: -19px;
}
.messageinput {
  width: 520px;
  height: 1.5em;
}
textarea, input[type='text'], input[type='password'], select {
  border: 1px solid #333333;
  background: #ffffff;
}
textarea:hover { border-color: #333333; }
input[type='text']:hover { border-color: #333333; }
input[type='password']:hover { border-color: #333333; }
select:hover { border-color: #333333; }
textarea:focus {
  border-color: #333333;
  outline: 2px solid #333333;
}
input[type='text']:focus {
  border-color: #333333;
  outline: 2px solid #333333;
}
input[type='password']:focus {
  border-color: #333333;
  outline: 2px solid #333333;
}
select:focus {
  border-color: #333333;
  outline: 2px solid #333333;
}
#footer_container {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #151110;
  z-index: 100;
  width: 100%;
  padding: 0;
  border-top: 1px solid #000000;
  color: #ffffff;
}
#footer_container a:link { color: #ffffff; }
#footer_container a:visited { color: #ffffff; }
#footer_container a:hover { color: #ffffff; }
#footer_container a:active { color: #ffffff; }
.status_yellow { color: #cccc33; }
.status_green { color: #33cc33; }
.status_red { color: #cc3333; }
.list { list-style: none; }
.list li {
  border-bottom: 1px dashed #cccccc;
  padding: 10px 0;
}
.list li.conversation h3 { margin: 0; }
.pagination {
  margin: 10px 0;
  background: white;
}
.pagination a {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.pagination span {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.pagination span.disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
.pagination span.current {
  font-weight: bold;
  background: #b3e4ef;
  color: #3366cc;
  border: 1px solid #3366cc;
}
.pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5;
}
.pagination a:hover {
  color: #3366cc;
  background: #b3e4ef;
  border-color: #3366cc;
}
.pagination a:focus {
  color: #3366cc;
  background: #b3e4ef;
  border-color: #3366cc;
}
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .pagination { height: 1%; }
*:first-child + html .pagination { overflow: hidden; }
.msgcount {
  background: #cc3333;
  padding: 2px 4px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 5px;
}
.mutedmsgcount {
  background: #999999 url(/images/b9.gif) bottom center no-repeat;
  padding: 2px 4px 6px 4px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 10px;
}
#working {
  position: absolute;
  top: -18px;
  left: 255px;
}
#users_list {
  float: left;
  width: 100%;
}
#users_list li {
  float: left;
  width: 49%;
  margin-bottom: 10px;
  margin-left: 2px;
  padding: 10px 0;
  border: 1px solid #eeeeee;
}
#users_list li .avatar {
  float: left;
  padding-left: 5px;
}
#users_list li .username {
  padding-left: 60px;
  display: block;
}
#users_list li .user_real_name {
  padding-left: 60px;
  display: block;
  color: #999999;
}
input[type='text'], input[type='password'], textarea {
  font-size: 100%;
  font-family: helvetica, "microsoft sans serif", arial, sans-serif;
}
.img_attachment img {
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 10px auto;
}
.tag {
  border: 1px solid #85c5d2;
  background: #d0e4eb;
  color: #3366cc;
  margin-right: 3px;
  padding: 0px 2px;
  margin-bottom: 3px;
  display: block;
  float: left;
  line-height: 1em;
}
.tag a:link {
  text-decoration: none;
  color: #3366cc;
}
.tag a:visited {
  text-decoration: none;
  color: #3366cc;
}
.tag_controls a:link {
  color: #cc3333;
  font-size: 85%;
}
.tag_controls a:visited {
  color: #cc3333;
  font-size: 85%;
}
ul.subsection_tabs {
  clear: both;
  height: 20px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  white-space: nowrap;
  border-bottom: none;
}
ul.subsection_tabs li.tab a.active {
  background-color: #eeeeee;
  color: #111111;
}
ul.subsection_tabs li.tab a:hover {
  color: #000000;
  text-decoration: underline;
}
ul.subsection_tabs li.tab a {
  background-color: #989898;
  color: #ffffff;
  display: block;
  height: 20px;
  padding: 0 4px;
  width: 80px;
  text-decoration: none;
  font-weight: bold;
}
.nube1 { font-size: 1em; }
.nube2 { font-size: 1.2em; }
.nube3 { font-size: 1.4em; }
.nube4 { font-size: 1.6em; }
.nube5 { font-size: 1.8em; }
.nube6 { font-size: 2em; }
#convo_controls { position: relative; }
#convos_links { padding-bottom: 0px; }
.groupdate {
  padding: 16px 0 0 0;
  color: #333333;
  font-weight: bold;
  font-size: 130%;
  background: url("/images/bl_gray_corner.gif") top left no-repeat;
}
.groupdate span {
  border-top: 1px solid #a7a7a7;
  display: block;
  padding: 10px 0 0 10px;
}
.last-read {
  color: #ffffff;
  background: #ff0000 url("/images/icons/little-down-arrow.gif") right no-repeat;
  display: inline;
  font-weight: bold;
  padding: 0 12px 0 5px;
}
.twitter_like_username {
  color: #3366cc;
  font-family: 'Lucida Grande';
}
.menu_separator {
  color: #b3e4ef;
  border-right: 2px solid #b3e4ef;
}
#multilingual {
  float: left;
  margin-right: 5px;
}
#multilingual form {
  margin: 0;
  padding: 0;
}
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#convo_header_container {
  z-index: 100;
  background: #cccccc;
  color: #ffffff;
  border-bottom: 2px solid #999999;
}
#convo_header {
  overflow: hidden;
  width: 550px;
  margin: 0 auto;
  background: #666666;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
}
#convo_header h5 {
  margin: 0px;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}
#convo_header h5 img {
  margin: 0px;
  display: inline;
}
#convo_header h5 a:link {
  color: #ffffff;
  padding: 0px;
  text-decoration: none;
}
#convo_header h5 a:visited {
  color: #ffffff;
  padding: 0px;
  text-decoration: none;
}
.padding05 { padding: 0 5px; }
#convo_tools {
  color: #999999;
  padding: 0px;
  background: #eeeeee;
}
#convo_tools #filter {
  float: right;
  margin: 0;
  padding: 0;
}
#convo_tools #filter form {
  margin: 0;
  padding: 0;
}
#convo_owner {
  position: absolute;
  right: 2px;
  top: 6px;
  background: #666666;
  padding: 0px;
  font-size: 90%;
  line-height: 1.2em;
}
#convo_name {
  width: 90%;
  overflow: hidden;
  position: absolute;
  top: 5px;
}
.sbutton {
  background: #666666;
  padding: 0 2px;
  font-weight: bold;
  margin-right: 2px;
  font-size: 90%;
}
.sbutton a:link {
  color: #eeeeee;
  text-decoration: none;
}
.sbutton a:visited {
  color: #eeeeee;
  text-decoration: none;
}
.sbutton a:hover {
  color: #ffffff;
  text-decoration: none;
}
.sbutton a:active {
  color: #ffffff;
  text-decoration: none;
}
#extra_convo_stuff {
  background: #ffffff;
  margin-left: -10px;
  border-left: 1px dashed #cccccc;
  border-bottom: 2px solid #999999;
  border-top: 1px solid #999999;
}
.invitation {
  overflow: hidden;
  border: 1px solid #cccccc;
  margin-bottom: 5px;
  padding: 5px;
}
.invitation h5 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.invitation .actions { float: right; }
#convo-menu {
  margin: 2px 0 0 0;
  padding: 0;
  z-index: 30;
  float: right;
}
#convo-menu li {
  margin: 0 0 0 2px;
  padding: 0;
  list-style: none;
  float: left;
  font: bold 11px arial;
}
#convo-menu li a {
  display: block;
  margin: 0;
  padding: 2px;
  width: 60px;
  background: #999999;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
#convo-menu li a:hover { background: #3366cc; }
#convo-menu div {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 0;
  background: #ffffff;
  border: 1px solid #999999;
}
#convo-menu div a {
  position: relative;
  display: block;
  margin: 0;
  padding: 5px 10px;
  width: auto;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  background: #ffffff;
  color: #2875de;
  font: 11px arial;
}
#convo-menu div a:hover {
  background: #3366cc;
  color: #ffffff;
}
.button {
  display: block;
  background: #000000;
  padding: 0px 5px;
  font-weight: bold;
  margin-left: 5px;
}
