body {background:#000;}
.clear {clear:both;}
#flash_messages .notice {background:#ffff33;padding:4px 10px;border:none;margin:0;color:#000;font-weight:strong;}
#flash_messages .error {background:#cc3333;padding:4px 10px;border:none;margin:0;color:#fff;font-weight:strong;}
div.auto_complete {
  width: 340px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #333;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ff3;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}
.padding {padding:10px;}
.item {padding:10px 20px;margin-bottom:10px;}
.item2 {padding:10px 5px;margin-bottom:10px;}
.msgcount {background:#333;padding:2px 4px;font-weight:bold;color:#fff;margin-right:5px;}
.container .quiet {color:#bbb;}
.container ul {margin:0;}
.container ul li {margin:0;}
.container a:visited {color:#3366cc;}
.container a:link {color:#1144aa;}
.container a:hover {color:#cc3333;}
.status_yellow {background:#ffff33;padding:5px 4px;}
.status_green {background:#9acb63;padding:5px 4px;}
.status_red {background:#ff0000;padding:5px 4px;color:#fff;}
#flags {
  text-align:right;
}
#header {}
#menu {margin-top:15px;}
#header h1 {margin:0;}
#menu ul {
  float:right;
  padding:0;
  margin:0;
  list-style: none;
}
#menu li {
  float:right;
  background:#fff;
  margin-left:4px;
  padding:2px 4px;
}
#connection_stat {float:right;margin-left:4px;padding-top:2px;}
#main_content {background:#ccc;}
#col1 {background:#fff;}
#col2 {}
#col3 {}

#messagesform {
  margin-bottom:0;
  padding-bottom:10px;background:#9acb63;
}
#messageinputdiv {
  margin-bottom:20px;
}
#attachment_form {background:#7aab43;padding:10px;}
#attachment_form input{margin:0;padding:0;}
#attachment_form form{margin:0;padding:0;}
#last_message_avise {background:#9acb63; padding:0 20px;text-align:center;margin-top:-19px;}
.messageinput { width:500px; height:40px; }
textarea, input[type='text'], input[type='password'], select { border: 1px solid #333; background: #fff; }
textarea:hover, input[type='text']:hover, input[type='password']:hover, select:hover { border-color: #333; }
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #333; outline: 2px solid #333; }
#messages {background:url(/images/downarrow.png) top center no-repeat;}
.message {padding:15px 20px 0 20px;position:relative;border-bottom:1px dashed #ccc;overflow:hidden;}
.message .messagelinks {position:absolute;top:0;right:20px;}
.message .avatar {float:left;}
.messagetext {padding-left:60px;}
.message .date {display:block;}
.message .date a:link, .message .date a:visited {color:#bbb;}
#footer {background:#fff;margin-top:10px;}
#footer span {padding:2px 10px;display:block;}
.ballon {
  padding:10px 20px 20px 20px;
  margin-bottom:0px;
  background:#9acb63;
  text-align:center;
}
.arrow {
  background:url(/images/downarrow.png) top center no-repeat;
  margin-bottom:10px;
}