body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* stylin' the message page! */
/* meta-information for each message (who, when, etc) */
p.messagemeta {
    background-color: #def;
    margin: 3px 0 0 0;
    font-size: .7em;
    padding: 0 1em;
    color: #444;
    text-align: right;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: dashed green 1px;
}
p.messagemeta .username {
    font-weight: bold;
    float: left;
}
p.message {
    background-color: #fed;
    margin: 0;
    padding: 3px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
}

#message_message {
    width: 100%;
}