<div id="my_conversations" class="item">
	<% unless current_user.blank? %>
		<b>My conversations:</b><br/>
		<ul>
			<%= render :partial => 'users/conversation', :collection => current_user.conversations %> 				 
		</ul>
	<% end %>
</div>
