<% if logged_in? %>
  <div id="all_my_conversations" class="item2">
  	<strong>My conversations:</strong><br/>
  	<ul>
  		<%= render :partial => 'users/conversation', :collection => current_user.conversations %> 				 
  	</ul>
  </div>
<% end %>

