<div class="message system">
	<div class="messagemeta">
	  <div class="padding">	
		  <div class="avatar"><%= image_tag("/images/system_avatar.jpg", :border => 0, :wigth => 40, :height => 40, :class => "avatar") %></div>
		  <div class="username_date">
		    <span class="username">system message</span>
		    <br/>
		    <span class="date"></span>
		  </div>
		  <div class="clear"></div>
	  </div>
	</div>
	<div class="messagetext">
	  <div class="padding">
	    <span class="mute">Only you can see this message</span><br/>
	    <b>All your conversations:</b><br/>
	    <ul>
	    <% conversations.each do |conversation| %>
    	  <li><%= link_to h(conversation.escaped_name), conversation_messages_path(conversation) %></li>
		  <% end %>
		  </ul>
		</div>
	</div>
	<div class="clear"></div>
</div>