<li>
  <%= link_to h(conversation.name), conversation_messages_path(conversation) %>
  <br/>
  <%= conversation.escaped_description %>
  <br/>
  <span class="quiet small"><%= conversation.created_at.to_s(:date_time12) %></span>
</li>
