<div id="my_conversations" class="item2">
	<% if logged_in? %>
	<b><%= t("ui.my_conversations") %>:</b><br/>
	<ul>
		<% current_user.subscribed_conversations.each do |conversation| %>
		<li><%= link_to h(conversation.escaped_name), conversation_path(conversation), :class => 'tip', :title => conversation.escaped_description %></li>
		<% end %>
	</ul>
	<%end%>
</div>
