<div id="my_conversations">
	<%unless current_user.blank?%>
			<b>My conversations:</b>
			<%= render :partial => 'users/conversation', :collection => current_user.conversations %> 				 
	<%end%>
</div>
