<div id="my_conversations" class="item">
	<% unless current_user.blank? %>
		<b>My last conversations:</b><br/>
		<ul>
			<%= render :partial => 'users/conversation', :collection => current_user.conversations[0..4] %> 				 
		</ul>
		<% if current_user.conversations.length > 5 %>
  	  <%= link_to_function("view all #{current_user.conversations.length - 1} conversations", nil, :id => "all_conversations_link") do |page|
          page.insert_html :bottom, 'messages', :partial => 'users/conversations_message', :locals => {:conversations => current_user.conversations}
      end %>
  	<% end %>
	<% end %>
</div>
