<div id="news" class="item2">
	<% if logged_in? %>
		<b><%= t("ui.news") %>:</b><br/>
			<%= render :partial => 'users/subscription', :collection => current_user.subscriptions.slice(1..100) %><%#remove current conversation from updates list, but do not show more then 100 items, this is a bit iffy, will have to see%> 	
	<% end %>
</div>
