<div id="recently_visited" class="item2">
	<% if logged_in? %>
		<b><%= t("ui.recently_visited") %>:</b><br/>
		<ul>		
			<%= render :partial => 'users/conversation', :collection => current_user.recent_conversations %> 
		</ul>
	<% end %>
</div>
