<% if logged_in? %>
<div id="recently_visited">
	<h5><%= t("ui.recently_visited") %>:</h5>
	<div class="box-content">
	  <ul>		
	  	<%= render :partial => 'users/conversation', :collection => ( current_user.recent_conversations - [@conversation] ) %> 
	  </ul>
	</div>
</div>
<% end %>

