<%if(subscription.conversation != @conversation) %>
	<div class="subscription_for_user" id="CONVERSATION_NOTIFY_CHANNEL_<%=subscription.conversation.id%>">
		<span class="msgcount"><%= subscription.new_messages_count %></span> <%= link_to h(subscription.conversation.name), conversation_path(subscription.conversation) %>
	</div>
<%end%>
