<%messages_count = subscription.new_messages_count%>
<%if messages_count > 0%>
<span class="subscription_for_user" id="CONVERSATION_NOTIFY_CHANNEL_<%=subscription.conversation.id%>">	
	<%= link_to h(messages_count), conversation_messages_path(subscription.conversation), :onMouseOut => "hideddrivetip()",  :onMouseOver => "ddrivetip('#{subscription.conversation.name}','lightgreen', 300)" %>
</span>
<%end%>