<li>
<span class="avatar">
  <%= link_to image_tag(user.gravatar_url, :border => 0, :width => 40, :height => 40, :class => "avatar", :alt => user.login), user_path(user),
  :class => 'tip', 
  :title =>  t("users.since") + user.date  + 
	'<br/>' + user.conversations.size.to_s  + '&nbsp;' + t('ui.convos') +
	'<br/>' + user.messages.size.to_s       + '&nbsp;' + t('ui.messages') +
	'<br/>' + user.subscriptions.size.to_s  + '&nbsp;' + t("ui.following") +
	'<br/>' + user.personal_conversation.users.size.to_s               + '&nbsp;' + t("ui.followers")	
	%>
</span>

<span class="username"><%=link_to h(user.login), conversation_path(user.personal_conversation), 
  :class => 'tip', 
  :title => "personal convo for " + user.login %>
	<%= render :partial => 'conversations/follow_from_list', :object => user.personal_conversation %>
</span>


<span class="user_real_name">
  <%= user.name unless user.name == user.login %>
</span>
</li>
