<li>
<span class="avatar">
  <%= link_to image_tag(user.gravatar_url, :border => 0, :width => 40, :height => 40, :class => "avatar", :alt => user.login), user_path(user),
  :class => 'tip', 
  :title =>  t("users.since") + user.created_at.to_s(:pretty)  + 
  '<br/>' + pluralize(user.conversations.size, 'convo') +
  '<br/>' + pluralize(user.messages.size, 'message') +
  '<br/>' + pluralize(user.subscriptions.size, 'subscription') %>
</span>

<span class="username"><%=link_to h(user.login), conversation_messages_path(user.personal_conversation), 
  :class => 'tip', 
  :title => "personal convo for " + user.login %>
	&#187;
	<%= render :partial => 'conversations/follow_from_list', :object => user.personal_conversation %>
</span>


<span class="user_real_name">
  <%= user.name unless user.name == user.login %>
</span>
</li>
