<% form_for :user, :url => {:action => 'forgot_password'} do |form| %>
    <fieldset>
        <dl>
            <dt><label for="user_email" class="block">Email Address</label></dt>
            <dd><%= form.text_field :email, :size => 45, :class => 'text' %></dd>
        </dl>
        <%= submit_tag 'Send' %>
    </fieldset>
<% end %>