<%= render :partial => 'user_stats' %>

<%= render "user_links" %>

<h6>Friends of <%= @user.login %></h6>
<div class="item">
	<ul id="users_list">
		<%= render :partial => 'user', :collection => @friends %>
	</ul>
	<div class="clear"></div>
</div>