<% form_for :user, :url => {:action => "reset_password"} do |form| %>
    <fieldset>
        <dl>
            <dt><label for="user_password" class="block">Password</label></dt>
            <dd><%= form.password_field :password, :size => 45, :class => 'text' %></dd>

            <dt><label for="user_password_confirmation" class="block">Confirm Password</label></dt>
            <dd><%= form.password_field :password_confirmation, :size => 45, :class => 'text' %></dd>
        </dl>
        <%= submit_tag "Reset your password" %>
    </fieldset>
<% end %>