<p>
	<%= link_to image_tag(@user.gravatar_url, :border => 0, :wigth => 40, :height => 40, :class => "avatar"), conversation_messages_path(@user.personal_conversation) %>		
	<span class="username"><%=link_to h(@user.login), user_path(@user) %></span>
</p>


<div id="conversations_for_user">
	<b>Users conversations:</b></br>
	<%= render :partial => 'users/conversation', :collection => @user.conversations %> 				 
</div>
	


<%= link_to "back", users_path %>
