<div id="footer" class="container">
	<span>
		&copy; 2009 |
		<%= t("footer.uptime_monitoring") %> <a href="http://pingability.com">http://pingability.com</a> |
		<%= t("footer.report_problems_or_abuse") %> <a href="mailto:webmaster@echowaves.com">webmaster@echowaves.com</a> |
		<%= link_to t('footer.terms_and_conditions'), :controller => "home", :action => "terms"-%>
	</span>
</div>
<%#do not remove rhis scrip tag, used by google stats%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3129031-8");
pageTracker._trackPageview();
</script>
