<div id="footer" class="container">
	<span>
		&copy; 2009 |
		<%= t("footer.uptime_monitoring") %> <a href="http://pingability.com">http://pingability.com</a> |
		<%= t("footer.report_problems_or_abuse") %> <a href="mailto:webmaster@echowaves.com">webmaster@echowaves.com</a> |
		<%= link_to t('footer.terms_and_conditions'), :controller => "home", :action => "terms"-%> |
		<%= link_to "OAuth", oauth_clients_path %>
	</span>
</div>

<div id="connection_stat_data" class='tip'>
</div>