<div id="footer">
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div>
		© 2008
	</div>
	<div>
		Website Uptime Monitoring By <a href="http://pingability.com">http://pingability.com</a>
	</div>
	<div>
		Report problems or Abuse to <a href="mailto:webmaster@echowaves.com">webmaster@echowaves.com</a>
	</div>
</div>
<%#do not remove rhis scrip tag, used by google stats%>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3129031-8");
pageTracker._trackPageview();
</script>
