<div><%= link_to image_tag("echowaves.gif", :border => 0), home_path %></div>
<div id="logout">
	<%if logged_in?%>					
	<%= link_to "logout", logout_path %>&nbsp;<%=current_user.login%>
		<% if @user_has_access_to_resource%>
		<font size=-3 style="text-decoration: blink" color="red">admin user</font>
		<%end%>
	<%else%>			
	<%= link_to "login", new_session_path %>
	<%end%>
</div>
