<div id="header">
	<div id="header_image">
		<%= link_to image_tag("echowaves.gif", :border => 0, :width => "282px", :height => "50px" ), home_path %>
	</div>
	<div id="logout">
		<%if logged_in?%>					
		<%= link_to "logout", logout_path %>&nbsp;<%=current_user.login %>
		<%else%>			
		<%= link_to "login", new_session_path %>
		<%end%>
	</div>
</div>
<div id="header_padding">
</div>