<div class="item2 page">
  <%= link_to t("ui.search_messages"), msgsearch_path, :class => 'search_link' %>
  <%= link_to t("ui.search_conversations"), convosearch_path, :class => 'search_link' %>
</div>