<div class="item2">
  <% if logged_in? %>				
    <%= link_to image_tag(current_user.gravatar_url, :border => 0, :width => 40, :height => 40, :class => "avatar", :alt => current_user.login, :style => 'float:left;margin-right:4px;'),
 	user_path(current_user),
	:class => 'tip', 
	:title =>  t("users.since") + current_user.created_at.to_s(:pretty)  + 
	'<br/>' + pluralize(current_user.conversations.size, 'convo') +
	'<br/>' + pluralize(current_user.messages.size, 'message') +
	'<br/>' + pluralize(current_user.subscriptions.size, 'subsription')%>
	  <%= link_to h(current_user.login), conversation_messages_path(current_user.personal_conversation)	, 
		:class => 'tip', 
		:title => "personal convo for " + current_user.login %><br/>
	  <%= link_to t("ui.edit_profile"), edit_user_path(current_user)  %>
  <%end%>
</div>
