<div class="box round">
  <h6>Popular Topics:</h6>
  <div class="box-content">
  <%= link_to "EchoWaves",  convosearch_path(:convo_q => 'echowaves'),  :method => 'post' %> |
  <%= link_to "Twitter",    convosearch_path(:convo_q => 'twitter'),    :method => 'post' %> |
  <%= link_to "Rails",      convosearch_path(:convo_q => 'rails'),      :method => 'post' %> |
  <%= link_to "Test",       convosearch_path(:convo_q => 'test'),       :method => 'post' %>
  </div>
</div>