<div class="item2 page">
  <h6 class="hl">Popular Topics:</h6>
  <%= link_to "EchoWaves",  convosearch_path(:q => 'echowaves'),  :method => 'post' %> |
  <%= link_to "Twitter",    convosearch_path(:q => 'twitter'),    :method => 'post' %> |
  <%= link_to "Rails",      convosearch_path(:q => 'rails'),      :method => 'post' %> |
  <%= link_to "Test",       convosearch_path(:q => 'test'),       :method => 'post' %>
</div>