<div class="item2 page">
  <h6 class="hl"><%= t("ui.recent_convos")-%>:</h6>
  <ul class="minilist">
	  <%= render @recent_convos %>
  </ul>
  <%= link_to t("ui.view_all_convos"), conversations_path %>
</div>
