<div class="box round">
  <h6><%= t("ui.recent_convos")-%>:</h6>
  <div class="box-content">
    <ul class="minilist">
	    <%= render @recent_convos %>
    </ul>
    <%= link_to t("ui.view_all_convos"), conversations_path %>
  </div>
</div>