<span class="avatar" id="<%= dom_id user%>">
  <%= link_to image_tag(user.gravatar_url, :border => 0, :width => 40, :height => 40, :class => "avatar", :alt => user.login), user_path(user),
  :class => 'tip', 
  :title =>  user.login +
  '<br/>' +	t("users.since") + user.date  + 
	'<br/>' + user.conversations.size.to_s  + '&nbsp;' + t('ui.convos') +
	'<br/>' + user.messages.size.to_s       + '&nbsp;' + t('ui.messages') +
	'<br/>' + user.subscriptions.size.to_s  + '&nbsp;' + t("ui.following") +
	'<br/>' + user.personal_conversation.users.size.to_s  + '&nbsp;' + t("ui.followers")
	%>
</span>
