<div id="main_headline">
  <h1>Social Group Chat</h1>
</div>

<div id="signup_headline">
	<h5>
		-- it's free and anyone can join. Start your own conversations, invite all your friends, follow other conversations that look interesting to you. Have fun!
	</h5>
	
	<h5>
	  If you like to chat, or blog, or post pictures, or share updates with friends, or just socialize -- you will enjoy EchoWaves.
  </h5>
</div>


<div class="item">
  <h5>
   Talk with us in our <%= link_to "EchoWaves conversation", conversation_path(HOME_CONVERSATION), :action => "index" -%><br/>or make tests in the  <%= link_to "Test conversation", conversation_path(TEST_CONVERSATION), :action => "index" -%>.
   
  </h5>
  
</div>


<%#= render :partial => 'recent_convos'%>	

<%#= render :partial => 'popular_convos'%>	

<%#= render :partial => 'recently_joined'%>	

<hr/>


<div class="item">
  <p><%= t("home.index.headline2") %></p>
</div>

<div class="item"><p><%= t("home.index.feedback_advice") %></p></div>
