# Example Orbited Configuration file

[global]
reactor=select
# reactor=kqueue
# reactor=epoll
proxy.enabled = 1
proxy.keepalive = 0
session.ping_interval = 40
session.ping_timeout = 30

[listen]
http://:8500
stomp://:61613
# uncomment to enable ssl on port 8043 using given .key and .crt files
#https://:8043
#
#[ssl]
#key=orbited.key
#crt=orbited.crt

[static]

[access]
* -> localhost:61613
#localhost:8000 -> irc.freenode.net:6667

[logging]
debug=STDERR,debug.log
info=STDERR,info.log
access=STDERR,info.log
warn=STDERR,error.log
error=STDERR,error.log

#Don't enable debug by default
enabled.default=info,access,warn,error

# Turn debug on for the "Proxy" logger
[loggers]
#Proxy=debug,info,access,warn,error
